// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main{
	background-color: #fff;
}

.navbar-inverse{
	background-color: #207C7F;
}
a{
	color: #207C7F;
}